{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:change' user_obj.pk %}">Edit...</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "accounts:password_change" %}">Change password</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ user_obj.get_full_name|default:user_obj.username }} profile page.</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <p>Login: {{ user_obj.username }}</p>
    <p>Name: {{ user_obj.first_name }}</p>
    <p>Surname: {{ user_obj.last_name }}</p>
    <p>Birth date: {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>
    <p>Email: {{ user_obj.email }}</p>

    <h2 class="text-center clear">Selected photographs of the author:</h2>
    {% include 'partial/photo_list.html' %}

{% endblock %}
