{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:change' user_obj.pk %}">Edit...</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "accounts:password_change" %}">Change password</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ user_obj.get_full_name|default:user_obj.username }} profile page.</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <p>Login: {{ user_obj.username }}</p>
    <p>Name: {{ user_obj.first_name }}</p>
    <p>Surname: {{ user_obj.last_name }}</p>
    <p>Birth date: {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>
    <p>Email: {{ user_obj.email }}</p>

    {% if user.is_authenticated %}
        <h2 class="text-center">Selected photographs of the author:</h2>
        {% for photo in photos %}
    <div class="card mt-4 mb-4">
        <img src="{{ photo.image.url }}" class="card-img-top" width="300" alt="photo">
        <div class="card-body">
            <h5 class="card-title">Signature: {{ photo.signature }}</h5>
            <a class="author-link" href="{% url 'accounts:detail' photo.author.pk %}">Author: {{ photo.author }}</a>
            <div class="photo-actions">
                <a class="btn btn-outline-dark" href="{% url 'webapp:detail_photo' photo.pk %}">More details...</a>
                {% if perms.webapp.change_photo or photo.author == request.user %}
                    <a class="btn btn-outline-dark" href="{% url 'webapp:update_photo' photo.pk %}">Edit...</a>
                {% endif %}
                {% if perms.webapp.delete_photo or photo.author == request.user %}
                    <a class="btn btn-outline-dark" href="{% url 'webapp:delete_photo' photo.pk %}">Delete...</a>
                {% endif %}

            </div>
        </div>
        <div class="favorites">
            {% if user.is_authenticated %}
                <p>
                    <a class="remove" href="{% url 'api:remove' photo.pk %}">Remove from favorites</a>
                </p>
            {% endif %}
        </div>
        <div class="card-footer">
            <small class="text-muted">{{ photo.created_at }}</small>
        </div>
    </div>
{% endfor %}
    {% endif %}

{% endblock %}
