{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}

<div class="card mt-5">
    <form action="{% url 'webapp:delete_photo' photo.pk %}" method="post">
        {% csrf_token %}
        <h5 class="card-header">Delete</h5>
        <div class="card-body">
            <h5 class="card-title">Are you sure you want to delete the author's photo: "{{ photo.author }}" ?</h5>
            <p><input type="submit" class="btn btn-outline-dark btn-lg btn-block" value="Yes"></p>
            <a class="btn btn-outline-dark btn-lg btn-block"  href="{% url 'webapp:detail_photo' photo.pk %}">No</a>
        </div>
    </form>
</div>

{% endblock %}