{% extends 'base.html' %}
{% block title %}Product{% endblock %}

{% block auth_menu %}
    {% if request.user.is_authenticated %}
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'accounts:logout' %}">Exit</a>
        </li>
    {% else %}
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'accounts:login' %}">Sign In</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'accounts:create' %}?next={{ request.get_full_path }}">Sign Up</a>
        </li>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="title">Photo View</h1>

        <div class="card mb-3">
            <img src="{{ photo.image.url }}" class="card-img-top" alt="image">
            <div class="card-body">
                <h5 class="card-title">Signature: {{ photo.signature }}</h5>
                <a class="author-link" href="{% url 'accounts:detail' photo.author.pk %}">Author: {{ photo.author }}</a>
                <div class="photo-actions">
                    {% if perms.webapp.change_photo or photo.author == request.user %}
                        <a class="btn btn-outline-dark" href="{% url 'webapp:update_photo' photo.pk %}">Edit...</a>
                    {% endif %}
                    {% if perms.webapp.delete_photo or photo.author == request.user %}
                        <a class="btn btn-outline-dark" href="{% url 'webapp:delete_photo' photo.pk %}">Delete...</a>
                    {% endif %}
                </div>
                <div class="favorites">
                    {% if user.is_authenticated %}
                        <p>
                            <a class="btn btn-outline-succes add" href="{% url 'api:add' photo.pk %}">Add to favourites</a>
                            <a class="btn btn-outline-dager remove" href="{% url 'api:remove' photo.pk %}">Remove from favorites</a>
                        </p>
                    {% endif %}
                </div>
                <p class="card-text"><small class="text-muted">{{ photo.created_at }}</small></p>
            </div>
        </div>

        </div>
{% endblock %}
